.text{font-family:monospace; color:#00f193;}
body {
    background-color:#011d11;
}
.h2{font-family:monospace; color:red}
.class{font-family:monospace; color:#ff4d00}
.tf{font-family:monospace; color:#ffd000;}
